<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <servlet>
    <servlet-name>PML validator</servlet-name>
    <servlet-class>org.inference_web.iwapp.iw2api.PmlValidatorServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PML validator</servlet-name>
    <url-pattern>/pmlvalidator</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PML filter</servlet-name>
    <servlet-class>org.inference_web.iwapp.iw2api.PmlFilterServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PML filter</servlet-name>
    <url-pattern>/pmlfilter</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Instance Browser</servlet-name>
    <servlet-class>org.inference_web.iwapp.iw2api.InstanceBrowserServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Instance Browser</servlet-name>
    <url-pattern>/ib</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PML Browser2</servlet-name>
    <servlet-class>org.inference_web.iwapp.iw2api.PMLBrowserServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PML Browser2</servlet-name>
    <url-pattern>/pb2</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>Instance Evaluation</servlet-name>
    <servlet-class>org.inference_web.iwapp.iw2api.InstanceEvaluationServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Instance Evaluation</servlet-name>
    <url-pattern>/ie</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SPARQL</servlet-name>
    <servlet-class>org.inference_web.iwapp.iw2api.SparqlJenaServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SPARQL</servlet-name>
    <url-pattern>/sparql</url-pattern>
  </servlet-mapping>
  
  

  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>

</web-app>